page-done-task {
.dot-color{
    height: auto !important;
    width: auto !important;
    font-weight: bold;
    top: 2px !important;
    left: 10px !important;
    ion-icon{
        font-size: 1.2em;
        font-weight: bolder !important;
    }
}
.work-date{
    font-weight: initial !important;
}
}
